.wrapper {
  min-height: 60px;
  padding: 0 16px;
}

.action {
  color: #3f6587;
  font-weight: 700;
  font-size: 12px;
  background: rgba(63, 101, 135, 0.1);
  border-color: transparent;
  &:hover {
    border-color: inherit;
  }
}

.title {
  height: none;
  margin: 0 !important;
  padding: 0;
  font-size: 16px !important;
  line-height: 1;
}

.titleMobile {
  font-size: 14px !important;
}
