.space {
  display: block;
}

.subtitle {
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  opacity: 0.5;
}

.header {
  margin-bottom: 25px;
}

.link {
  color: #4a7faa;
  text-decoration: underline;
}

.alert {
  margin-bottom: var(--gap-base);
  background: rgba(74, 127, 170, 0.05);
  border: 1px solid #4a7faa;
  border-radius: 6px;
  span {
    font-weight: 700;
  }
}

.sendTest {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #3f6587;
  font-weight: 700;
  font-size: 12px;
  background: rgba(63, 101, 135, 0.1);
}

.saveBtn {
  min-width: 141px;
}

.deliveryInput {
  margin-top: 10px;
}
